<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="30 seconds">

  <property name="LOG_TEMP" value="/tmp/owms" />
  <property name="MODULE_NAME" value="CORE-UAA" />

  <include resource="logback-appenders.xml" />
  <include resource="logback-loggers.xml" />

  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

  <!--appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>openwms.mooo.com</syslogHost>
    <facility>SYSLOG</facility>
    <port>10514</port>
    <suffixPattern>${SERVICE_NAME} ${Tenant} ${MODULE_NAME} %d{YYYY-MM-dd HH:mm:ss.SSS} %X{X-RequestID} %-5level [${PID:- }/%tid] - [%-40.40logger{39}]${mdcPattern} : %msg%n</suffixPattern>
  </appender-->

  <logger name="com.netflix.discovery" level="OFF"/>
  <logger name="com.github.dozermapper" level="ERROR"/>
  <logger name="org.hibernate.SQL" level="OFF"/>
  <logger name="org.hibernate.type" level="OFF"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.security" level="WARN"/>
  <logger name="org.openwms" level="DEBUG"/>
  <logger name="org.ameba" level="WARN"/>

  <logger name="PRESENTATION_LAYER_EXCEPTION" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="LOGFILE"/>
  </logger>
  <logger name="SERVICE_LAYER_EXCEPTION" level="ERROR" additivity="false">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="LOGFILE"/>
  </logger>
  <logger name="INTEGRATION_LAYER_EXCEPTION" level="ERROR" additivity="false">
      <appender-ref ref="STDOUT"/>
      <appender-ref ref="LOGFILE"/>
  </logger>
  <logger name="MEASURED" level="INFO">
      <appender-ref ref="TSL"/>
  </logger>
  <logger name="CORE_INTEGRATION_MESSAGING" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="LOGFILE"/>
  </root>

</configuration>