<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="30 seconds">

    <property name="LOG_TEMP" value="/tmp/owms"/>
    <property name="MODULE_NAME" value="CORE-UAA"/>

    <include resource="logback-appenders.xml"/>
    <include resource="logback-loggers.xml"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <logger name="com.netflix.discovery" level="OFF"/>
    <logger name="org.ameba" level="WARN"/>
    <logger name="org.hibernate.boot.internal.InFlightMetadataCollectorImpl" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.SQL_SLOW" level="OFF"/>
    <logger name="org.hibernate.type" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.openwms" level="DEBUG"/>

    <logger name="CORE_INTEGRATION_MESSAGING" level="INFO"/>

    <springProfile name="ELK">
        <appender name="ELK" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>elk:5000</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <logger name="PRESENTATION_LAYER_EXCEPTION" level="ERROR"/>
        <logger name="SERVICE_LAYER_EXCEPTION" level="ERROR"/>
        <logger name="INTEGRATION_LAYER_EXCEPTION" level="ERROR"/>
        <logger name="CALLCONTEXT" level="OFF"/>
        <logger name="MEASURED" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ELK"/>
        </root>
    </springProfile>
    <springProfile name="!ELK">
        <logger name="PRESENTATION_LAYER_EXCEPTION" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="EXCFILE"/>
            <appender-ref ref="LOGFILE"/>
        </logger>
        <logger name="SERVICE_LAYER_EXCEPTION" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="EXCFILE"/>
            <appender-ref ref="LOGFILE"/>
        </logger>
        <logger name="INTEGRATION_LAYER_EXCEPTION" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="EXCFILE"/>
            <appender-ref ref="LOGFILE"/>
        </logger>
        <logger name="CALLCONTEXT" level="DEBUG"/>
        <logger name="MEASURED" level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="TSL"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOGFILE"/>
        </root>
    </springProfile>
</configuration>