<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="30 seconds">

    <property name="LOG_TEMP" value="/tmp/owms"/>
    <property name="MODULE_NAME" value="TEST"/>

    <include resource="logback-appenders.xml"/>
    <include resource="logback-loggers.xml"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <logger name="org.ameba" level="OFF"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type" level="OFF"/>
    <logger name="org.junit" level="OFF"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.openwms" level="DEBUG"/> <!-- Coverage reasons -->

    <logger name="PRESENTATION_LAYER_EXCEPTION" level="ERROR"/>
    <logger name="SERVICE_LAYER_EXCEPTION" level="ERROR"/>
    <logger name="INTEGRATION_LAYER_EXCEPTION" level="ERROR"/>
    <logger name="MEASURED" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>